!core/
*.*#
*.Debug
*.Release
*.a
*.app
*.autosave
*.back
*.core
*.debug
*.dll
*.exe
*.flc
*.ib_pdb_index
*.idb
*.ilk
*.moc
*.ncb
*.o
*.opensdf
*.orig
*.pdb
*.prl
*.pro.user*
*.pyc
*.qm
*.rc
*.rej
*.res
*.sdf
*.sln
*.so
*.so.*
*.suo
*.vcproj
*.vcxproj
*/tags
*_pch.h.cpp
*_resource.rc
*vcproj.*.*.user
*vcxproj.*
*~
.#*
.*.swp
.DS_Store
.directory
.hg
/.qmake.cache
/.qmake.stash
CMakeLists.txt.user
Makefile*
Thumbs.db
_dbg_
bin
build
core
moc_*.cpp
qrc_*.cpp
*/bin
*/build
tags
ui_*.h

