[submodule "wiki"]
	path = wiki
	url = ssh://git@bitbucket.org/bigov/trickrig.git/wiki
[submodule ".extlibs/freetype2"]
	path = .extlibs/freetype2
	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
	branch = master
[submodule ".extlibs/glfw"]
	path = .extlibs/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule ".extlibs/libpng"]
	path = .extlibs/libpng
	url = https://github.com/glennrp/libpng.git
	branch = master
[submodule ".extlibs/glm"]
	path = .extlibs/glm
	url = https://github.com/g-truc/glm.git
	branch = master
